<main class="main">
  <div class="bg-slider">
    <div class="bg-slider__overlay">
      <h1 class="bg-slider__title">ABOUT（つまりは）<br>焼肉食べたい
      </h1>
    </div>
  </div>
</main>
<!-- /.jp_slide_img_wrapper -->