<footer class="footer">
  <p class="footer-copyright">&copy; 2021 上かるび</p>
  <a href="https://twitter.com/jookalubi24" target="_blank" rel="noopener noreferrer"><img src="<%= meta.imgPath %>icon-twitter-circle.svg" alt="上かるびのTwitterへのリンク" width="50" height="50" loading="lazy"></a>
</footer>