<header class="header">
  <p class="header-title">HEADER</p>
  <ul class="header-items">
    <li class="header-item header-nav"><a href="<%= meta.linkPath %>index.html">HOME</a></li>
    <li class="header-item header-nav"><a href="<%= meta.linkPath %>about/">ABOUT</a></li>
  </ul>
</header>